@font-face {
    font-family: "Poppins-thin";
    src: url('./fonts/Poppins-Thin.ttf') format("opentype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins-regular";
    src: url('./fonts/Poppins-regular.ttf') format("opentype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins-medium";
    src: url('./fonts/Poppins-medium.ttf') format("opentype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins-medium-italic";
    src: url('./fonts/Poppins-medium-italic.ttf') format("opentype");
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Poppins-bold";
    src: url('./fonts/Poppins-bold.ttf') format("opentype");
    font-style: normal;
    font-display: swap;
}
  